<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CreditosDB" connectionString="Data Source=DESKTOP-GN16OMU\SQLISRA;Initial Catalog=Creditos;User ID=Ficcion;Password=ficcion;" providerName="System.Data.SqlClient"></add>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Ficcion.Comercial.Creditos.Implementacion.ClienteService" behaviorConfiguration="ServiceBehavior">
        <endpoint address=""
                  binding ="basicHttpBinding"
                  contract="Ficcion.Comercial.Creditos.Contrato.IClienteService"></endpoint>
        <!--<endpoint address=""
                  binding="netTcpBinding"
                  contract="Ficcion.Comercial.Creditos.Contrato.IClienteService"></endpoint>-->
        <endpoint address="rest"
                  binding="webHttpBinding"
                  contract="Ficcion.Comercial.Creditos.Contrato.ICreditoService"
                  bindingConfiguration="EnlaceHTTPRest"
                  behaviorConfiguration="webREST"></endpoint>
      </service>
      
      <service name="Ficcion.Comercial.Creditos.Implementacion.CreditoService" behaviorConfiguration="ServiceBehavior">
        <endpoint address=""
                 binding ="basicHttpBinding"
                 contract="Ficcion.Comercial.Creditos.Contrato.ICreditoService"></endpoint>
        <endpoint address="rest"
          binding="webHttpBinding"
          contract="Ficcion.Comercial.Creditos.Contrato.ICreditoService"
          bindingConfiguration="EnlaceHTTPRest"
          behaviorConfiguration="webREST"></endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webREST">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <bindings>
      <webHttpBinding>
        <binding name="EnlaceHTTPRest" closeTimeout="00:10:00" crossDomainScriptAccessEnabled="true"></binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <handlers>
      <remove name="webDAV"></remove>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule"/>
    </modules>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
